html {
	--main-color: #4b4b4b;
	--icon-color: var(--main-color);
	--base-color: #fafafa;
	--accent-color: #808080;
	--light-color: #ececec;
	--gray-color: #757575;
	--orange-color: #ebebeb;
	--accent-blue: #f0f0f0;
}
